<div class="jumbotron">
  <center>
    <h1><%= @pastry.name %></h1>
    <img src="<%= @pastry.image %>">
  </center>
  <h3>Description: <%= @pastry.description %></h3>
  <h3>Cost: $<%= @pastry.price %></h3>
</div>
</div>
