<div class="jumbotron">

	<center>
		<h1>Welcome to Old Joe's Java Joint!</h1>

		<img src="https://www.gannett-cdn.com/-mm-/31d5bc26c2e99a1fcad2a1af2e10f8f833b9dc7e/c=117-0-1741-1221&r=x404&c=534x401/local/-/media/2016/06/13/StCloud/StCloud/636014346884209852-stcdc5-57aps7p8w1lofh04e8b-original.jpg">
		<br>

		<%= link_to "Check out our Coffees!", javas_path, class: "btn btn-default" %>
		<br>
		<%= link_to "Check out our Pastries!", pastries_path, class: "btn btn-default" %>
	</center>
</div>